{% extends "base.html" %}
{% load vet_site_tags %}
{% block nav %}
    {% nav_list "" %}
{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error">Sorry, that's not a valid username or password</p>
{% endif %}
<h1>Login</h1>
<h2>Please login using the form below</h2>
<form id="login-form" action='.' method='post'>
	{% csrf_token %}
<div class="fieldWrapper">
    <label for="username">Username:</label>
    <input type="text" name="username" value="" id="username" autofocus="autofocus">
</div>
<div class="fieldWrapper">
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
</div>

<div class="fieldWrapper">
    <input type="submit" value="login" />
</div>
<input type="hidden" name="next" value="/courses/" />
<form action='.' method='post'>
<p>Dont have an account and are a Lucy Cav Med/Vet student, <a href="/register/">Register Here</a></p>
<p>If you have forgotten your password <a href="/password_reset/" >Click Here</a></p>	
{% endblock %}