
{% extends "base.html" %}
{% load vet_site_tags %}
{% block nav %}
    {% nav_list "" %}
{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error">Sorry, that's not a valid username or password</p>
{% endif %}
<h1>Registration</h1>
<h2>Please register using the form below</h2>

<form id="register-form" method="POST" action="/register/">
    {% csrf_token %}
        {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="id_username">Username:</label>
        <input id="id_username" type="text" name="username" maxlength="30" autofocus="autofocus">
    </div>
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label for="id_email">Cambridge University Email:</label>
        {{ form.email }}
    </div>
    <div class="fieldWrapper">
        {{ form.password1.errors }}
        <label for="id_password1">Password:</label>
        {{ form.password1 }}
    </div>
    <div class="fieldWrapper">
        {{ form.password2.errors }}
        <label for="id_password2">Confirm Password:</label>
        {{ form.password2 }}
    </div>
        <div class="fieldWrapper">
        {{ form.key.errors }}
        <label for="id_key">Sign up key:</label>
        {{ form.key }}
        <p>The sign up key has been emailed to your Cambridge University email address if you are elligble</p>
    </div>

    <input type="submit">
</form>

    
    
{% endblock %}
