{% extends "base.html" %}

{% load vet_site_tags %}


{% block nav %}
    {% nav_list "" %}
{% endblock %}

{% block content %}

<p>Events coming soon lalala</p>
<div id="calendar"></div>

<div id="eventDialog" class='dialog ui-helper-hidden'>
	<form>
		<div>
			<label>Title:</label>
			<input id="title" class="field" type="text"></input>
		</div>
		<div>
            <label>Color:</label>
            <input id="color" class="field" type="color"></input>			
		</div>
		<div>
            <label>Description:</label>
            <textarea id="description" name="description" rows="5" cols="30"></textarea>
		</div>
	</form>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{STATIC_URL}}calender/js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}calender/js/backbone-min.js"></script>
    <script src="{{STATIC_URL}}calender/js/backbone-tastypie.js"></script>
    <script src="{{STATIC_URL}}calender/js/fullcalendar.js"></script>
    <script src="{{STATIC_URL}}calender/js/app.js"></script>
    <script src="{{STATIC_URL}}calender/js/jquery-ui-1.8.23.custom.min.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}calender/css/fullcalendar.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}calender/css/jquery-ui-1.8.23.custom.css" />
{% endblock %}
