{% load static %}
  
<p class="link"><a href="/">Home</a></p>
<p class="link"><a href="/courses/">Courses</a></p>
<ul id="nav">
{% for year in years %}
    <li id="year-{{forloop.counter}}"><img class="expander" src="{% get_static_prefix %}img/expand.gif" />Year {{forloop.counter}}</li>
    <ul class="courses-year">
    {% for course in year %}
        {% if course.school == 1 %}	
         <li id="{{course.slug}}"><img class="expander" src="{% get_static_prefix %}img/expand.gif" /><a href="{{course.get_absolute_url}}">{{course.name}} (B)</a></li>
        <ul class="sections">
	        {% for section in course.coursesection_set.all %}
	            <li id="{{section.slug}}"><img src="{% get_static_prefix %}img/arrow.gif" /><a href="{{section.get_absolute_url}}">{{section}}</a></li>
	        {% endfor %}
	   </ul>
	     {% elif course.school == 2 %}
         <li id="{{course.slug}}"><img class="expander" src="{% get_static_prefix %}img/expand.gif" /><a href="{{course.get_absolute_url}}">{{course.name}} (V)</a></li>
        <ul  class="sections">
            {% for section in course.coursesection_set.all %}
                <li id="{{section.slug}}"><img src="{% get_static_prefix %}img/arrow.gif" /><a href="{{section.get_absolute_url}}">{{section}}</a></li>
            {% endfor %}
       </ul>	     
	     
	     {% elif course.school == 3 %}
         <li id="{{course.slug}}"><img class="expander" src="{% get_static_prefix %}img/expand.gif" /><a href="{{course.get_absolute_url}}">{{course.name}} (M)</a></li>
        <ul  class="sections">
            {% for section in course.coursesection_set.all %}
               <li id="{{section.slug}}"><img src="{% get_static_prefix %}img/arrow.gif" /><a href="{{section.get_absolute_url}}">{{section}}</a></li>
            {% endfor %}
       </ul>	     
	     
	     {% endif %}
       
    {% endfor %}
    </ul>
{% endfor %}
<div id="nav-initials">
	<p>(B) - Both Schools</p>
	<p>(V) - Vet Students Only</p>
	<p>(M) - Medical Students Only</p>
</div>
</ul>
<p class="link"><a href="/events/">Events</a></p>
<p class="link"><a href="/lecturers/">Lecturers</a></p>
<p class="link"><a href="/contact/">Contact</a></p>


<script>

    // Makes sure that when you click a link it keeps the menu opena dn alters the images
    if ($("#{{value}}").parent("ul").attr("class") == "courses-year"){
    	$("#{{value}}").parent("ul").css("display", "block")  	
    	 $("#{{value}}").parent("ul").prev().find('img')[0].src = "{% get_static_prefix %}img/contract.gif" 
    }
    else if ($("#{{value}}").parent("ul").attr("class") == "sections") {
    	$("#{{value}}").parent("ul").parent("ul").prev().find('img')[0].src = "{% get_static_prefix %}img/contract.gif" 
        $("#{{value}}").parent("ul").prev().find('img')[0].src = "{% get_static_prefix %}img/contract.gif" 
    	$("#{{value}}").parent("ul").css("display", "block")
    	$("#{{value}}").parent("ul").parent("ul").css("display", "block")  
    }
    

	$(".expander").each(function () {
		$(this).click(function () {
		    var image = $(this)
		    if ($(this).parent().next('ul').css('display') == "block") {
                    image.attr("src", "{% get_static_prefix %}img/expand.gif")
            }
            else {
                image.attr("src", "{% get_static_prefix %}img/contract.gif")
            }
            
			$(this).parent().next('ul').toggle(500);
			})
		})
</script>