



{% extends "base.html" %}

{% load vet_site_tags %}

{% block nav %}
    {% nav_list course_slug %}
{% endblock %}

{% block content %}
<div id="course-info">
	<h1>{{course}}</h1>
	<p>{{course.get_study_year_display}} - {{course.get_term_display}} | School - {{course.get_school_display}} | Difficulty - {{course.get_difficulty_display}}</p>
</div>
<div id="course-description">
	<h2>Description</h2>
	{{course.description|safe}}
</div>

<div id="course-sections">
	<h2>Course Sections</h2>
	<ul>
	{% for coursesection in course.coursesection_set.all %}
	   <li><a href="{{coursesection.get_absolute_url}}">{{coursesection}}</a></li>
	{% endfor %}
	</ul>
</div>

<div id="course-past-papers">
	<h2>Past Papers</h2>
	<ul>
	 {% for file in course.coursefile_set.all %}
	   {% if file.type == 1 %}	   
	      <li><a href="{{MEDIA_URL}}{{file.file}}" target="_blank">{{file}}</a></li>
	   {% endif %}
	 {% endfor %}
	 </ul>
</div>

<h2 class="start-hidden" id="useful-material">Course Wide Useful Material</h2>
<p>More detailed material can be found in each section</p>
<div id="section-lectures-container" class="start-hidden">
<h3>Lectures</h3>
    <ul id="section-lectures">
    </ul>
 </div>   
<div id="section-images-container" class="start-hidden">    
<h3>Images</h3>    
    <ul id="section-images">
    </ul>
 </div>   
<div id="section-essays-container" class="start-hidden">  
<h3>Essays</h3>    
    <ul id="section-essays">
    </ul>
  </div>  
<div id="section-notes-container" class="start-hidden">    
<h3>Notes</h3>    
    <ul id="section-notes">
    </ul>
 </div> 

{% endblock %}

{% block dom_ready_scripts %}
{% comment  %}<script>{% endcomment  %}

     {% for file in coursefile %}
       {% if file.type == 2 %}     
         $("#useful-material").css('display', 'block')
         $("#section-images-container").css('display', 'block')
         $("#section-images").append('<li><a href="{{MEDIA_URL}}{{file.file}}" target="_blank">{{file}}</a></li>')
       {% endif %}
       {% if file.type == 3 %}  
         $("#useful-material").css('display', 'block')
         $("#section-lectures-container").css('display', 'block')   
         $("#section-lectures").append('<li><a href="{{MEDIA_URL}}{{file.file}}" target="_blank">{{file}}</a></li>')
       {% endif %}            
       {% if file.type == 4 %} 
         $("#useful-material").css('display', 'block')
         $("#section-notes-container").css('display', 'block')    
         $("#section-notes").append('<li><a href="{{MEDIA_URL}}{{file.file}}" target="_blank">{{file}}</a></li>')
       {% endif %}
       {% if file.type == 5 %} 
         $("#useful-material").css('display', 'block')
         $("#section-essays-container").css('display', 'block')    
         $("#section-essays").append('<li><a href="{{MEDIA_URL}}{{file.file}}" target="_blank">{{file}}</a></li>')
       {% endif %}       
     {% endfor %}

{% comment  %}</script>{% endcomment  %}
{% endblock %}