



{% extends "base.html" %}

{% load vet_site_tags %}


{% block nav %}
    {% nav_list "" %}
{% endblock %}

{% block content %}


<h1>Welcome to Lucy Cavendish vet school</h1>

{% if request.user.is_authenticated %}
    please use the navigation on the top and bottom to select where you would like to go  
{% else %}
   <p> If you have already registered please <a href="login/" >Log In</a></p>
    
   <p> If not please <a href="/register/" >Register</a></p>
   
   <p>If you have forgotten your password <a href="/password_reset/" >click here</a></p>
{% endif %}


{% endblock %}

