{% extends 'base.html' %}
 
{% block content %}
  {% if validlink %}
  Enter new password
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form action="." id="password-reset-confirm" method="post">     
      {% csrf_token %}
      {{ form.as_p }}      
        <input type="submit" text="Change Password" />
    </form>
  {% else %}
    <h1>Password reset unsuccessful.</h1>
    <p>The password reset link was invalid, possibly because it already has been
      used. Please request a new password reset.</p>
  {% endif %}
{% endblock %}