<html>

	<head>
		<title>Lucy Cavendish Vet and Medics </title>
		<script src="{{STATIC_URL}}js/jquery.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/nav.css" />
		
	</head>
	<body>
		<div class="center">
			<div id="wrapper">
				<div id="header">
					
				</div>
				<div id="main">
					<div id="navigation">
						{% block nav %}{% endblock %}
					</div>
					<div id="content">
						{% block content %}{% endblock %}
					</div>
				</div>
				<div id="footer">
					
				</div>
			</div>
        </div>
		
		<script>
		$(document).ready(function () {
			{% block dom_ready_scripts %}{% endblock %}
			
		})
		
		
		</script>
	</body>
</html>